@import './base.css';

#app {
  max-width: 100%; /* Limita a largura máxima a 100% do contêiner pai */
  margin: 0; /* Corrige o valor inválido "none" */
  padding: 0; /* Corrige o valor inválido "none" */
  font-weight: normal;

  display: flex;
  align-items: start;
  justify-content: center; 
  background-color:whitesmoke;

  padding: 2.5rem;

  /* Para centralizar o próprio #app na página */
  height: 100%; /* Ocupa toda a altura da tela */
  width: 100%; /* Ocupa toda a largura disponível */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
